
<div class="row">
	<div class="span12 about_us">
		<h2>Want to make sure we won't just take your money and run</h2>
		<p>This site was created by Noah Shafi, <a href="http://noshaf.github.io/">here</a> you can find out more information about him. Please feel free to contact us at hellatrees.org@gmail.com with any questions or comments</p>
	</div>
	<div class="span6">
		<span class="the_tree"><%= image_tag("the_tree.jpg") %></span>
	</div>
	<div class="span6 label_tree">
		<h1>We <3 trees. We sell t-shirts.</h1>
	</div>
</div>

<script>
	$('.the_tree').hover(
		function(){ 
			$('body').css('background', 'grey');
		}, function() {
			$('body').css('background', 'white');
		}
	);
</script>
