<div class="row">
  <div class="span6">
	<%= image_tag("tshirt1_front.png", :class => "tshirt_image left") %>
  </div>
  <div class="span6">
	<%= image_tag("tshirt1_back.png", :class => "tshirt_image right") %>
  </div>
</div>