<div class="row">
  <div class="span4">
	<%= image_tag("tshirt1_front copy.png", :class => "tshirt_image left") %>
  </div>
  <div class="span4 center">
  	<h3>Pre-order a t-shirt for $20</h3>
  	<h3>Pay with</h3>
  	<%= link_to image_tag("venmo.png", :class => "venmo") %>
  </div>
  <div class="span4">
	<%= image_tag("tshirt1_back.png", :class => "tshirt_image right") %>
  </div>
</div>
